$InputFilePollInterval 10
$PrivDropToGroup adm
$WorkDirectory /var/spool/rsyslog

# Input for /var/log/supervisor/supervisord.log
$InputFileName /var/log/supervisor/supervisord.log
$InputFileTag supervisord:
$InputFileStateFile state-supervisord #this must be unique for each file being polled
$InputFileSeverity info
$InputFilePersistStateInterval 20000
$InputRunFileMonitor

# Add a tag for file events
$template LogglyFormatFile,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [{{getv "/meta/cloud/loggly/token"}}@41058 tag=\"file\"] %msg%\n"

# Send to Loggly then discard
if $programname == 'supervisord' then @@logs-01.loggly.com:514;LogglyFormatFile
if $programname == 'supervisord' then stop